body, html {
    height: 100%;
    margin: 0;
}
.section-1-bg{
   width: 100vw;
   height: 100vh;
   background-image: url("res/main-banner.jpg") ;
   background-repeat: no-repeat;
   background-size: 100%;
}

.section-1 h2{
    text-decoration: none;
    color: #ffffff;
    font-family: "Lucida Handwriting";
    font-size: 40px;
    margin-top: 0%;
    margin-left: 2rem;

}
.section-1-nav{
    display: flex;
    text-decoration: none;
    text-emphasis: none;
    list-style: none;
    color: #ffffff;
    margin: 20dp;

}
.section-1-nav ul :nth-child(){
    margin: 20dp;
}
.section-1-header-text{
    display: inline;
}
.section-1-main-text{
    text-align: center;
    color: #ffffff;
}
.section-1-main-text h1{
    text-decoration: none;
    font-size: 7vw; 
    margin-bottom: 10px;
}


